<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/images/PRDSLogo.png" width="40" height="40" alt="PhoenixRedwolf Digital Services Logo" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-2xl fa-house" aria-hidden="true"></span>&nbsp Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="fa-solid fa-2xl fa-server" aria-hidden="true"></span>&nbsp Services
            </NavLink>
        </div>
        <!--<div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="fa-solid fa-2xl fa-people-group" aria-hidden="true"></span>&nbsp About Us
            </NavLink>
        </div>-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="fa-solid fa-2xl fa-address-card" aria-hidden="true"></span>&nbsp Contact Us
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
